<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <a href="{{site.baseurl}}/" class="logo-text">Vicente Olmedo</a>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Vicente Olmedo</p>
            <p>Based on a deliciously designed theme by <a href="https://github.com/artemsheludko" target="blank">Artem Sheludko</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.github %}
              <li><a href="{{ site.github }}" target="blank">GitHub</a></li>
              {% else %} {% endif %}

              {% if site.linkedin %}
              <li><a href="{{ site.linkedin }}" target="blank">LinkedIn</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}" target="blank">Twitter</a></li>
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->