---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col col-12">
			<div class="splash">
                <div class="splash-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append: page.image}})">
                    <div class="splash-intro">
						<h2 class="splash-heading">{{ page.heading }}</h2>
						<p class="splash-subheading">{{ page.subheading }}</p>
						<ul class="social-profiles list-reset">
							{% if site.github %}
							<li class="social-profiles-item">
								<a href="{{ site.github }}" class="social-profiles-link" target="blank"><i class="ion ion-logo-github"></i></a>
							</li>
							{% else %} {% endif %}

							{% if site.linkedin %}
							<li class="social-profiles-item">
								<a href="{{ site.linkedin }}" class="social-profiles-link" target="blank"><i class="ion ion-logo-linkedin"></i></a>
							</li>
							{% else %} {% endif %}

							{% if site.twitter %}
							<li class="social-profiles-item">
								<a href="{{ site.twitter }}" class="social-profiles-link" target="blank"><i class="ion ion-logo-twitter"></i></a>
							</li>
							{% else %} {% endif %}

							</ul>
					</div>
                </div>
			</div>
		</div>
		<article class="col col-12 col-t-10 push-t-1 page">
			<div class="page-content">
				<div class="page-head">
					<h1 class="page-title">{{ page.title | escape }}</h1>
				</div>

				<div class="page-body">
					{{ content }}
				</div>
			</div>
		</article> <!-- /.page -->
	</div>
</div>
